In [1]:
#import algo file
import pandas as pd
from pathlib import Path
import numpy as np


budegt1=Path("budget_data.csv")
budget=pd.read_csv(budegt1)
budget.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [2]:
#count month
rows=len(budget.axes[0])
print("total months: ",rows)

total months:  86

In [3]:
#total Profit and Losses
total=budget["Profit/Losses"].sum()
print("total PL is :", total)

total PL is : 38382578

In [7]:
#Highest and lowest 
h=budget["Profit/Losses"].max()
l=budget["Profit/Losses"].min()


print("Greatest Increase is " , h)
print("Greatest Decrease is " , l)

Greatest Increase is  1170593
Greatest Decrease is  -1196225

In [8]:
#Avergae change
a=budget["Profit/Losses"].mean()
print("Average change is :", a)

Average change is : 446309.0465116279